@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Italianno&family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(78, 81, 90);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading {
    box-sizing: border-box;
    display: inline-block;
    width: 70vw;
    margin: 3vh 15vw 0;
    padding: 0 5%;
    background-color: rgb(255, 237, 215);
    
}

.title {
    float: left;
    font-family: 'Libre Baskerville', serif;
    color: black;
    font-size: 300%;
}

#europe {
    font-family: Italianno, cursive;
    font-size: 200%;
    color: midnightblue;
}

.game-mode{
    float: right;
    text-align: center;
    margin-top: 2%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 110%;
    color: midnightblue
}

.game-mode-button {
    margin: 3px 8px 8px 8px;
    width: 80px;
    height: 80px;
    border-radius: 40%;
    font-size: 50%;
    font-weight: 700;
    color: black;
    background: rgb(255, 222, 182);
    border: 3px solid rgb(255, 201, 136);
}

.icon {
    font-size: 400%;
    margin-bottom: 3px;
}

.game-mode-button:hover {
    background-color: rgb(255, 201, 136);
    border: 3px solid rgb(201, 131, 47);
}

.game-area {
    width: 70vw;
    margin: 0 15vw;
    background-color: rgb(222, 224, 231);
    box-sizing: border-box;
    border: 7px rgb(70, 70, 70) double;
}

.question {
    text-align: center;
    font-family: Amiko, sans-serif;
    font-size: 200%;
    margin: 15px 0 15px;
}

.picture-box {
    max-width: 80%;
    margin: 0 auto;
    min-height: 40vh;
    text-align: center;
    font-family: Amiko, sans-serif;
    font-weight: bold;
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flag-box {
    display: flex;
    flex-flow: column nowrap;
    font-family: Amiko, sans-serif;
    font-weight: bold;
    font-size: 110%;
}

.game-choice > h2 {
    font-size: 40px;
}

.flag-box > h2 {
    font-size: 40px;
}

.flag-box > p {
    margin: 15px auto 0;
}

.big-button {
    width: 200px;
    height: 200px;
    font-size: 120%;
    margin: 30px;
    color: black;
    background: rgb(255, 222, 182);
    border: 7px solid rgb(255, 201, 136);
    border-radius: 40%;
    font-weight: bold;
}

.big-button:hover {
    background-color: rgb(255, 201, 136);
    border: 7px solid rgb(201, 131, 47);
}

.big-icon {
    font-size: 100px;
    margin-bottom: 5px;
}

.start-button {
    height: 100px;
    width: 220px;
    background: rgb(255, 222, 182);
    border: 7px solid rgb(255, 201, 136);
    border-radius: 20px;
    font-family: Amiko, sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: black;
    margin: 20px auto 0;
    
}

.start-button:hover {
    background-color: rgb(255, 201, 136);
    border: 7px solid rgb(201, 131, 47);
    font-size: 120%;
    color: midnightblue;
}

.picture {
    max-height: 40vh;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgb(78, 81, 90);
}

.options-area {
    max-width: 70%;
    margin: 40px auto 5px;
    display: flex;
    justify-content: space-around;
}

.btn {
    font-family: Amiko, sans-serif;
    font-size: 100%;
    width: 150px;
    min-height: 60px;
    padding: 8px;
    border: 3px outset rgb(255, 201, 136);
    border-radius: 8px;
    background-color: rgb(255, 237, 215);
    color: black;
}

.btn:hover {
    font-weight: bolder;
    color: midnightblue;
    font-size: 105%;
}

.answer-area {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    min-height: 60px;
    vertical-align: middle;
    font-family: Amiko, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.green {
    background-color: lightgreen;
    border-color: green;
}

.red {
    background-color: lightcoral;
    border-color: red;
}

.correct {
    color: darkgreen;
}

.incorrect {
    color: darkred;
}

.statistics-area {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 70vw;
    margin: 0 15vw;
    background-color: rgb(255, 237, 215);
    font-family: Amiko, sans-serif;
    font-weight: bold;
}

.statistics-area > p {
    text-align: center;
    margin: 15px auto;
}

.footer {
    height: 70px;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: rgb(33, 35, 41);
    margin-top: 3vh;
    text-align: center;
    padding-top: 20px;
}

.footer > p, footer > p > a {
    margin-bottom: 3px;
    font-family: Amiko, sans-serif;
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(222, 224, 231);
}

@media screen and (max-width: 1050px) {

    .heading {
        width: 80vw;
        margin: 1vh 10vw 0;
        padding: 0 1%;
    }

    .title {
        clear: both;
        float: none;
        text-align: center;

    }
    .game-mode {
        clear: both;
        float: none;
    }

    .game-area {
        width: 80vw;
        margin: 0 10vw;
    }

    .options-area {
        max-width: 100%;
    }

    .question {
        font-size: 170%;
    }

    .game-choice > h2 {
        font-size: 120%;
    }

    .flag-box > h2 {
        font-size: 110%;
    }

    .flag-box > p {
        font-size: 70%;
    }

    .statistics-area {
        width: 80vw;
        margin: 0 10vw;
    }

    .picture-box {
        width: 60%;
        min-height: 15vh;
    }
}

@media screen and (max-width: 600px) {
    .heading {
        width: 90vw;
        margin: 0.5vh 5vw 0;
        padding: 0 1%;
    }

    .title {
        font-size: 200%;
    }

    .game-area {
        width: 90vw;
        margin: 0 5vw;
    }

    .options-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px auto;
    }

    .btn {
        margin: 5px auto;
        min-height: 60px;
    }

    .statistics-area {
        width: 90vw;
        margin: 0 5vw;
    }
}